.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* app style */


@media only screen 
  and (max-device-width: 2000px) {
  .banner {
    background-color: black;
    height: 400px;
    padding-top: 50px;
  }
  .bannerFont {
    color: white;
    padding-bottom: 20px;
  }
  .bannerFontPoetry {
    color: red;
  }
  .bannerSlider {
    padding-top: 50px
  }
}

@media only screen 
  and (max-device-width: 500px) {
  .banner {
    background-color: black;
    height: 500px;
  }
  .bannerFont {
    color: white;
  }
  .bannerFontPoetry {
    color: red;
  }
  .bannerSlider {
    padding-top: 20px
  }
}






